[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]
tiledb = "*"
urllib3 = ">=1.15"
six = ">=1.10"
certifi = "*"
python-dateutil = "*"
cloudpickle = "*"

[dev-packages]



[requires]

python_version = "3.6"
