attrs==21.4.0
certifi==2022.6.15
cloudpickle==1.4.1
contextvars==2.4
dataclasses==0.8
immutables==0.18
numpy==1.19.5
packaging==21.3
pandas==1.1.5
pyarrow==6.0.1
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
six==1.16.0
tiledb==0.15.6
typing_extensions==4.1.1
urllib3==1.26.9
