attrs==21.4.0
certifi==2021.10.8
cloudpickle==1.4.1
numpy==1.21.5
packaging==21.3
pandas==1.2.5
pyarrow==3.0.0
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2022.1
six==1.16.0
tiledb==0.13.3
urllib3==1.26.9
