attrs==23.1.0
certifi==2023.7.22
cloudpickle==2.2.1
importlib-metadata==6.8.0
numpy==1.25.2
packaging==23.1
pandas==1.5.3
pyarrow==13.0.0
python-dateutil==2.8.2
pytz==2023.3.post1
six==1.16.0
tblib==1.7.0
tiledb==0.22.3
typing_extensions==4.7.1
urllib3==2.0.4
xarray==2023.8.0
zipp==3.16.2
