# coding: utf-8

"""
    Specification file for tiledb-server v4 API

    This spec is exposed to the public under /v4 route group  # noqa: E501

    The version of the OpenAPI document: 0.0.1
    Contact: info@tiledb.com
    Generated by: https://openapi-generator.tech
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from tiledb.cloud._common.api_v4.api_client import ApiClient
from tiledb.cloud._common.api_v4.exceptions import ApiTypeError  # noqa: F401
from tiledb.cloud._common.api_v4.exceptions import ApiValueError  # noqa: F401


class FilesApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def file_get(self, teamspace_id, path, **kwargs):  # noqa: E501
        """Download the file at the given path  # noqa: E501

        End point to download the file at the given path   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.file_get(teamspace_id, path, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str teamspace_id: The teamspace id in the form ts_9m4e2mr0ui3e8a215n4g (required)
        :param str path: The path to the file (required)
        :param str range: The range of bytes to fetch. Supports only single ranges.
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        return self.file_get_with_http_info(teamspace_id, path, **kwargs)  # noqa: E501

    def file_get_with_http_info(self, teamspace_id, path, **kwargs):  # noqa: E501
        """Download the file at the given path  # noqa: E501

        End point to download the file at the given path   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.file_get_with_http_info(teamspace_id, path, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str teamspace_id: The teamspace id in the form ts_9m4e2mr0ui3e8a215n4g (required)
        :param str path: The path to the file (required)
        :param str range: The range of bytes to fetch. Supports only single ranges.
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ["teamspace_id", "path", "range"]
        all_params.extend(
            [
                "async_req",
                "_return_http_data_only",
                "_preload_content",
                "_request_timeout",
            ]
        )

        for key, val in six.iteritems(local_var_params["kwargs"]):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method file_get" % key
                )
            local_var_params[key] = val
        del local_var_params["kwargs"]
        # verify the required parameter 'teamspace_id' is set
        if self.api_client.client_side_validation and (
            "teamspace_id" not in local_var_params
            or local_var_params["teamspace_id"] is None  # noqa: E501
        ):  # noqa: E501
            raise ApiValueError(
                "Missing the required parameter `teamspace_id` when calling `file_get`"
            )  # noqa: E501
        # verify the required parameter 'path' is set
        if self.api_client.client_side_validation and (
            "path" not in local_var_params
            or local_var_params["path"] is None  # noqa: E501
        ):  # noqa: E501
            raise ApiValueError(
                "Missing the required parameter `path` when calling `file_get`"
            )  # noqa: E501

        collection_formats = {}

        path_params = {}
        if "teamspace_id" in local_var_params:
            path_params["teamspace_id"] = local_var_params["teamspace_id"]  # noqa: E501
        if "path" in local_var_params:
            path_params["path"] = local_var_params["path"]  # noqa: E501

        query_params = []

        header_params = {}
        if "range" in local_var_params:
            header_params["Range"] = local_var_params["range"]  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params["Accept"] = self.api_client.select_header_accept(
            ["application/xml"]
        )  # noqa: E501

        # Authentication setting
        auth_settings = ["ApiKeyAuth", "BasicAuth", "OAuth2"]  # noqa: E501

        return self.api_client.call_api(
            "/files/{teamspace_id}/{path}",
            "GET",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get("async_req"),
            _return_http_data_only=local_var_params.get(
                "_return_http_data_only"
            ),  # noqa: E501
            _preload_content=local_var_params.get("_preload_content", True),
            _request_timeout=local_var_params.get("_request_timeout"),
            collection_formats=collection_formats,
        )

    def file_head(self, teamspace_id, path, **kwargs):  # noqa: E501
        """Get information about the file at the given path  # noqa: E501

        End point to get information about the file at the given path   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.file_head(teamspace_id, path, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str teamspace_id: The teamspace id in the form ts_9m4e2mr0ui3e8a215n4g (required)
        :param str path: The path to the file (required)
        :param str range: The range of bytes to fetch. Supports only single ranges.
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        return self.file_head_with_http_info(teamspace_id, path, **kwargs)  # noqa: E501

    def file_head_with_http_info(self, teamspace_id, path, **kwargs):  # noqa: E501
        """Get information about the file at the given path  # noqa: E501

        End point to get information about the file at the given path   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.file_head_with_http_info(teamspace_id, path, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str teamspace_id: The teamspace id in the form ts_9m4e2mr0ui3e8a215n4g (required)
        :param str path: The path to the file (required)
        :param str range: The range of bytes to fetch. Supports only single ranges.
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ["teamspace_id", "path", "range"]
        all_params.extend(
            [
                "async_req",
                "_return_http_data_only",
                "_preload_content",
                "_request_timeout",
            ]
        )

        for key, val in six.iteritems(local_var_params["kwargs"]):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method file_head" % key
                )
            local_var_params[key] = val
        del local_var_params["kwargs"]
        # verify the required parameter 'teamspace_id' is set
        if self.api_client.client_side_validation and (
            "teamspace_id" not in local_var_params
            or local_var_params["teamspace_id"] is None  # noqa: E501
        ):  # noqa: E501
            raise ApiValueError(
                "Missing the required parameter `teamspace_id` when calling `file_head`"
            )  # noqa: E501
        # verify the required parameter 'path' is set
        if self.api_client.client_side_validation and (
            "path" not in local_var_params
            or local_var_params["path"] is None  # noqa: E501
        ):  # noqa: E501
            raise ApiValueError(
                "Missing the required parameter `path` when calling `file_head`"
            )  # noqa: E501

        collection_formats = {}

        path_params = {}
        if "teamspace_id" in local_var_params:
            path_params["teamspace_id"] = local_var_params["teamspace_id"]  # noqa: E501
        if "path" in local_var_params:
            path_params["path"] = local_var_params["path"]  # noqa: E501

        query_params = []

        header_params = {}
        if "range" in local_var_params:
            header_params["Range"] = local_var_params["range"]  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ["ApiKeyAuth", "BasicAuth", "OAuth2"]  # noqa: E501

        return self.api_client.call_api(
            "/files/{teamspace_id}/{path}",
            "HEAD",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get("async_req"),
            _return_http_data_only=local_var_params.get(
                "_return_http_data_only"
            ),  # noqa: E501
            _preload_content=local_var_params.get("_preload_content", True),
            _request_timeout=local_var_params.get("_request_timeout"),
            collection_formats=collection_formats,
        )

    def folder_list(self, teamspace_id, list_type, delimiter, **kwargs):  # noqa: E501
        """List folders and files contained in a folder  # noqa: E501

        End point to list files and folders for the passed teamspace   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.folder_list(teamspace_id, list_type, delimiter, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str teamspace_id: The teamspace id in the form ts_9m4e2mr0ui3e8a215n4g (required)
        :param int list_type: Required for S3 API compatibility, must be set to 2. (required)
        :param str delimiter: The string that delimits the path segments. Only forward slash is supported (required)
        :param str prefix: The directory of files to list.
        :param int max_keys: The maximum number of items to return.
        :param str continuation_token: Used to resume an incomplete list operation
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: FileListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        return self.folder_list_with_http_info(
            teamspace_id, list_type, delimiter, **kwargs
        )  # noqa: E501

    def folder_list_with_http_info(
        self, teamspace_id, list_type, delimiter, **kwargs
    ):  # noqa: E501
        """List folders and files contained in a folder  # noqa: E501

        End point to list files and folders for the passed teamspace   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.folder_list_with_http_info(teamspace_id, list_type, delimiter, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str teamspace_id: The teamspace id in the form ts_9m4e2mr0ui3e8a215n4g (required)
        :param int list_type: Required for S3 API compatibility, must be set to 2. (required)
        :param str delimiter: The string that delimits the path segments. Only forward slash is supported (required)
        :param str prefix: The directory of files to list.
        :param int max_keys: The maximum number of items to return.
        :param str continuation_token: Used to resume an incomplete list operation
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(FileListResponse, status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            "teamspace_id",
            "list_type",
            "delimiter",
            "prefix",
            "max_keys",
            "continuation_token",
        ]
        all_params.extend(
            [
                "async_req",
                "_return_http_data_only",
                "_preload_content",
                "_request_timeout",
            ]
        )

        for key, val in six.iteritems(local_var_params["kwargs"]):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method folder_list" % key
                )
            local_var_params[key] = val
        del local_var_params["kwargs"]
        # verify the required parameter 'teamspace_id' is set
        if self.api_client.client_side_validation and (
            "teamspace_id" not in local_var_params
            or local_var_params["teamspace_id"] is None  # noqa: E501
        ):  # noqa: E501
            raise ApiValueError(
                "Missing the required parameter `teamspace_id` when calling `folder_list`"
            )  # noqa: E501
        # verify the required parameter 'list_type' is set
        if self.api_client.client_side_validation and (
            "list_type" not in local_var_params
            or local_var_params["list_type"] is None  # noqa: E501
        ):  # noqa: E501
            raise ApiValueError(
                "Missing the required parameter `list_type` when calling `folder_list`"
            )  # noqa: E501
        # verify the required parameter 'delimiter' is set
        if self.api_client.client_side_validation and (
            "delimiter" not in local_var_params
            or local_var_params["delimiter"] is None  # noqa: E501
        ):  # noqa: E501
            raise ApiValueError(
                "Missing the required parameter `delimiter` when calling `folder_list`"
            )  # noqa: E501

        collection_formats = {}

        path_params = {}
        if "teamspace_id" in local_var_params:
            path_params["teamspace_id"] = local_var_params["teamspace_id"]  # noqa: E501

        query_params = []
        if (
            "prefix" in local_var_params and local_var_params["prefix"] is not None
        ):  # noqa: E501
            query_params.append(("prefix", local_var_params["prefix"]))  # noqa: E501
        if (
            "list_type" in local_var_params
            and local_var_params["list_type"] is not None
        ):  # noqa: E501
            query_params.append(
                ("list-type", local_var_params["list_type"])
            )  # noqa: E501
        if (
            "delimiter" in local_var_params
            and local_var_params["delimiter"] is not None
        ):  # noqa: E501
            query_params.append(
                ("delimiter", local_var_params["delimiter"])
            )  # noqa: E501
        if (
            "max_keys" in local_var_params and local_var_params["max_keys"] is not None
        ):  # noqa: E501
            query_params.append(
                ("max-keys", local_var_params["max_keys"])
            )  # noqa: E501
        if (
            "continuation_token" in local_var_params
            and local_var_params["continuation_token"] is not None
        ):  # noqa: E501
            query_params.append(
                ("continuation-token", local_var_params["continuation_token"])
            )  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params["Accept"] = self.api_client.select_header_accept(
            ["application/xml"]
        )  # noqa: E501

        # Authentication setting
        auth_settings = ["ApiKeyAuth", "BasicAuth", "OAuth2"]  # noqa: E501

        return self.api_client.call_api(
            "/files/{teamspace_id}",
            "GET",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type="FileListResponse",  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get("async_req"),
            _return_http_data_only=local_var_params.get(
                "_return_http_data_only"
            ),  # noqa: E501
            _preload_content=local_var_params.get("_preload_content", True),
            _request_timeout=local_var_params.get("_request_timeout"),
            collection_formats=collection_formats,
        )
