attrs==23.2.0
certifi==2024.2.2
cloudpickle
importlib-metadata==7.0.1
numpy==1.26.4
packaging==23.2
pandas==2.2.0
pyarrow==15.0.0
python-dateutil==2.8.2
pytz==2024.1
six==1.16.0
tblib==1.7.0
tiledb==0.32.5
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.2.0
xarray==2024.1.1
zipp==3.17.0
